# Ignore everything by default
*

# Include configuration files
!models/config.json
!README.md
!requirements.txt

# Include script files
!PreComputeEmbeddings.py
!WebApp.py

# Include the .gitignore file itself
!.gitignore